body {
    margin: 0;
    padding: 0;
    background-color: #EBE7E0;
}

.conteneur960 {
    width: 960px;
    margin: 0 auto;
}

.taille {
    margin: 0 auto;
    max-width: 960px;
}

/*------------------------------------MENU-----------------------------------------------*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #21212F;
    overflow-x: hidden; /* Désactive le scroll horizontal */
    padding-top: 60px;
    transition: 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #EBE7E0;
    display: block;
    transition: 0.3s ease;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #98c240;
}

/* Position du bouton de fermeture */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#mySidenav > a:nth-child(5) > img {
    width: 25px;
    padding-left: 5px;
}

/*-----------------------------------HEADER---------------------------------------------*/
#mobile > div > a > img {
    width: 25px;
    padding-left: 5px;
}

nav#mobile, nav#ordi {
    z-index: 2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header {
    z-index: -1;
}

header > nav > span {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

header > nav > span > img {
    width: 20px;
    margin-left: 20px;
}

#ordi {
    display: none !important;
}

@media (min-width: 1000px) {
    #ordi {
        display: flex !important;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        height: 64px;
        border-bottom: 3px solid #335554;
    }

    #ordi > .conteneur960 {
        display: flex !important;
        display: -webkit-flex;
        height: 70px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
    }

    #ordi > div > a:nth-child(1) > img {
        width: 120px;
        height: auto;
        padding: 15px 0 10px 0;
    }

    #ordi > div > a:nth-child(4) > img {
        width: 105px;
        height: 50px;
        padding: 10px 0 10px 0;
    }

    #ordi > #menu > a {
    }

    .menu a {
        padding: 26px 10px 22px 10px;
        background: white;
        box-shadow: inset 0 0 0 0 #335554;
        -webkit-transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;
    }

    .menu a:hover {
        box-shadow: inset 0 -100px 0 0 #335554;
        color: #ffffff
    }
}

header > nav {
    border-bottom: 3px solid #335554;
    display: flex !important;
    display: -webkit-flex;
    height: 50px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: white;
}

#mobile > a > img {
    margin: 8px 20px 0 0;
    width: 125px;
    height: auto;
}

@media (min-width: 1000px) {
    #mobile {
        display: none !important;
    }
}

.titre {
    background-image: url("../image-interface/background_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 70px;
}

.titrage {
    padding: 0 25px;
}

.titre > .titrage > p, .titre2 > .titrage > p {
    width: 100%;
    margin: 0;
    text-align: center;
}

.titre > .titrage > p:first-child {
    padding-bottom: 20px;
}

@media (min-width: 1000px) {
    .titre {
        height: 60vh !important;
    }

    .titre2 {
        height: 200px !important;
        padding-top: 75px !important;
    }

    .titre p:first-child, .titre2 p {
        font-size: 2em !important;
    }

    .titre > .titrage p:last-child {
        font-size: 1.5em !important;
    }
}

.titre2 {
    background-image: url("../image-interface/background_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 55px;
}

/*------------------------------------MAIN----------------------------------------*/
main {
    padding: 50px 25px 50px 25px;
    border-bottom: 3px solid #335554;
}

.page-accueil > main > .taille > .intro > div:first-child > h1 {
    margin: 0;
}

.page-accueil > main > .taille > .intro > div:last-of-type > img {
    width: 250px;
    height: 120px;
}

@media (min-width: 1000px) {
    .page-accueil > main > .taille > .intro > div:last-child > img {
        width: 300px;
        height: 140px;
    }
}

#alaune {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

#alaune > div > a > img {
    width: 250px;
}

#alaune > div {
    text-align: center;
}

#alaune > h1 {
    margin: 0;
}

#alaune > #alert {
    text-align: center;
}

#alaune > .bouton {
    margin: 25px auto 50px auto;
}

.bouton, button {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 170px;
    margin: 50px auto 50px auto;
    background-color: #98c240;
    box-shadow: 0 3px #54613b;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.1s ease-in-out;
    border: none;
    color: white;
}

.bouton:hover, button:hover {
    transition: 0.1s ease-in-out;
    transform: scale(0.95);
}

.bouton img {
    padding-right: 20px;
    width: 32px;
    height: 32px;
}

@media (min-width: 769px) {
    #index > main > .taille > .woocommerce > .products > li > .button {
        width: 80%;
        margin: 0 auto;
    }
}

.story {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    padding-left: 0;
}

.story > li {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media (min-width: 600px) {
    .story > li {
        width: 39%;
    }

    .story > li > p > a {
        width: 160px;
    }
}

@media (min-width: 1000px) {
    .story > li {
        width: 27%;
    }
}

.story > li:last-of-type > p > .bouton {
    margin-top: 59px;
}

.story > li > p > a {
    margin: 40px auto;
}

.story img {
    margin: 0 auto;
    display: block;
}

@media (max-width: 600px) {
    .story > li {
        width: 100%;
    }
}

.story > li:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}


/*----------------------------------FOOTER-----------------------------------------*/
footer {
    text-align: center;
    padding: 50px 0 0 0;
    background-color: white;
}

@media (min-width: 1000px) {
    footer > .taille {
        padding: 20px 0 50px 0;
        display: flex;
        display: -webkit-flex;
        text-align: initial;
    }

    footer > .taille > div {
        width: 24% !important;
        display: flex !important;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    footer > div > p {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    footer > .taille > .contact > ul {
        padding-left: 0;
    }

    footer > .taille > .contact > ul > li {
        list-style-type: none;
    }

    footer > .taille > .contact > ul > li:nth-child(4) {
        padding-bottom: 20px;
    }

    footer ul {
        margin: 0;
    }

    footer h3 {
        margin: 0;
        padding-bottom: 30px;
    }
}

footer > .taille > .ecocampus {
    margin: auto;
    padding-bottom: 20px;
    width: 80%;
}

footer > .taille > .fb, footer > div > .contact {
    padding-bottom: 20px;
}

footer > .taille > .menu {
    display: none;
}

footer .pages > ul {
    list-style-type: none;
    padding: 0;
}

footer .pages > a {
    transition: 0.3s ease;
}

footer .pages a:hover {
    color: #98c240;
    transition: 0.3s ease;
}

footer > .taille > .ecocampus > a > img {
    width: 125px;
}

footer > .taille > .contact > ul {
    padding-left: 0;
}

footer > .taille > .contact > ul > li {
    list-style-type: none;
}

/*---------------------------------------------BOUTIQUE----------------------------------------------------*/

/*-Couleur étoiles-*/
.star-rating > span::before{
    color: #335554;
}

/*-----------------------------------A PROPOS--------------------------------------*/
.page-a-propos > main > .taille > .presentation > .equipe > div {
    text-align: center;
}

.page-a-propos > main > .taille > .presentation {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.page-a-propos > main > .taille > .presentation > .equipe img, .page-a-propos > main > .taille > .presentation > .projet img, #boutique > main > div > div > div > img {
    height: auto;
    border: solid 2px #21212F;
}

@media (min-width: 800px) {
    .page-a-propos > main > .taille > .presentation > .equipe img, .page-a-propos > main > .taille > .presentation > .projet img, #boutique > main > div > div > div > img {
        width: 20em !important;
    }
}

@media (max-width: 1000px) {
    .page-a-propos > main > .taille > .presentation > .equipe img, .page-a-propos > main > .taille > .presentation > .projet img {
        width: 13em;
    }
}

.page-a-propos > main > .taille > .presentation > .projet > div {
    text-align: center;
}

.page-a-propos > main > .taille > .partenaire > div {
    text-align: center;
}

.page-a-propos > main > .taille > .partenaire{
    padding-bottom: 10px;
}

.page-a-propos > main > .taille > .partenaire > div > ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.page-a-propos > main > .taille > .partenaire > div > ul > li > a > img {
    width: auto;
    height: 65px;
}

.page-a-propos > main > .taille > .partenaire > div > ul > li {
    margin: 0 0 10px 10px;
    padding-right: 10px;
}

.page-a-propos > main > .taille > .contact {
    text-align: center;
    padding-bottom: 25px;
}

@media (min-width: 1000px) {
    .page-a-propos > main > .taille > .presentation {
        display: flex;
        display: -webkit-flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        text-align: initial;
        width: 100%;
    }

    .page-a-propos > main > .taille > .presentation > div {
        width: 400px;
    }

    .page-a-propos > main > .taille > .presentation ul {
        padding-left: 40px;
    }

    .page-a-propos .equipe li, .page-a-propos .projet li {
        list-style-type: circle;
    }
}

.intro > div:first-child > h1 {
    margin: 0;
}

.intro > div:last-of-type > img {
    width: 250px;
    height: 120px;
}

@media (min-width: 1000px) {
    .intro > div:last-child > img {
        width: 300px;
        height: 140px;
    }
}

.intro {
    border-radius: 5px;
    padding: 30px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.intro > div:nth-child(2) {
    text-align: center;
}

.intro > div:nth-child(2) > img {
    width: 200px;
    height: auto;
}

@media (min-width: 1000px) {
    .intro {
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
    }

    .intro > div:first-child {
        padding-right: 50px;
    }

    .intro > div:nth-child(2) > img {
        width: 300px;
        height: auto;
    }
}

/*-----------------------------------------F.A.Q.----------------------------------------------*/
#faq > main p:last-child, #mentions > main p:last-child {
    padding-bottom: 50px;
}

/*----------------------------------------- Login ----------------------------------------------*/
.form {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

input {
    border: 1px solid #21212F;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.form div {
    width: 370px;
    margin: 50px;
}

/*------------------------------------------MENTIONS LEGALES------------------------------------*/
.mmi {
    padding: 25px 0 25px 0;
}

.mmi > a > img {
    width: 125px;
}

.mmi > ul {
    list-style-type: none;
    display: flex;
    display: -webkit-flex;
    padding: 10px 0 0 0;
}

.mmi > ul > li > a > img {
    width: 32px;
    height: auto;
    padding-right: 5px;
}

.mmi > ul > li > a > img {
    transition: all .1s ease-in-out;
}

.mmi > ul > li > a > img:hover {
    transform: scale(0.9);
    transition: all .1s ease-in-out;
}

/*------------------------------------RECETTES--------------------------------------------*/

.grille {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.grille > a {
    width: 27%;
    margin: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media (max-width: 600px) {
    .grille > a {
        width: 100%;
    }
}

.grille > a:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.grille > a > img {
    max-width: 100%;
    height: auto;
}

.single-recettes > main > .taille {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 30px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

}

.single-recettes > main > .taille > ul > li {
    list-style-type: circle;
    line-height: 1.5;
}

/*------------------------------------404--------------------------------------------*/
.erreur{
    max-width: 960px;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    background-color: #f2f2f2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}